<div class="reviewer-experiences">
  <h2>Reviewer Experiences</h2>
  {% if site.data.reviewer_experiences %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for experience in site.data.reviewer_experiences %}
          <tr>
            <th scope="row" style="width: 60px;">{{ experience.year }}</th>
            <td>{{ experience.conference }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
</div>
